$teamHomeColor: #1D3557;
$teamAwayColor: #E63946;

.App {
  font-family: sans-serif;
  font-weight: bold;
}

.timeline{
  position: relative;
}

.bar{
  -webkit-appearance: none; 
  width: 530px; 
  height: 1rem;
  border-radius: 0.75rem;
  background: #6EF3D6;
}

.underlay {
  position: absolute;
  height: 26px;
  width: 530px;
  top: 0;
  left: 0;
  z-index: 12;
  display: flex;
}

.breakpoint {
  width: 100%;
  border-left: 2px solid white;
}

/* TEAMS */
.home {
  color: $teamHomeColor;
  text-align: left;
  padding-bottom: 1rem;
}

.home-dot {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: $teamHomeColor;
  border-radius: 50%;
  display: inline-block;
  z-index: 15;
  left: 22px;
  padding: .15em;
  margin: -1.7rem;
}

.away {
  color: $teamAwayColor;
  padding-left: 28rem;
  padding-top: 0.8rem;
}

.away-dot {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: $teamAwayColor;
  border-radius: 50%;
  display: inline-block;
  z-index: 15;
  left: 0px;
  padding: .15em;
  margin: -0.3rem;
}
